.manga-list{
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:15px;
    align-items: center;
    justify-content: center;
    background-color: rgb(208, 208, 212);
    margin-bottom:30px;
}
.manga-list::after{
    content:"";
    width:300px;
}
.manga{
    background-color:rgb(204, 200, 211);
    border-bottom: 1px solid black;
}